<div class="row">
	<div class="img-content center-block">
		<%= image_tag "Sydney.jpg", alt: "Sydney Hodge", id: "me-image", class: "img-responsive img-rounded" %>
	</div>
</div>

<div class="row about-copy">
	<div>
		<p>On an important piece of paper, in July of 1994, Aaron Hodge Sr. and Kimberley Smith wrote the words "Sydney Hodge." Since then, to the world I am Sydney Hodge. However, through sponteinty, simplicity, and incorrectness people also refer to me as Sydney (can't get much better than this), Syd (this is good too) or Cidney (which is just wrong). </p>

		<p>Growing up in Cleveland, Ohio, gaining a higher education in Columbus, Ohio, and spending a chunk of time in places such as Seattle, Washington, Mountain View, California and New York, New York I can say that I have had a life filled with many opportunities to experience different varieties of people, cultures, and ideas.</p>

		<p> Looking forward, I intend to continue working towards perfecting my craft in software development. I'm discovering a promising interest in web development and data analytics. I enjoy collecting, understanding, analyzing, and presenting data in an efficient and pleasing way.</p>

		<p>In August 2016, I begin my full-time employment at Google in New York City as a Software Developer in Tools and Infrastructure. </p>
	</div>
</div>