<div class="row">
	<div class="col-sm-8 col-sm-offset-2 box" id="contact-inner-box">
		<p><%= link_to "SYDNEYAHODGE@GMAIL.COM", "mailto:SYDNEYAHODGE@GMAIL.COM", class: "email" %> | 440-522-4428</p>
	</div>
</div>