<div class="row">
	<div class="col-sm-8 col-sm-offset-2" id="contact-inner-box">
		<!-- Create, on-click, the email text starts a new email. -->
		<p>SYDNEYAHODGE@GMAIL.COM | 440-522-4428</p>
	</div>
</div>