<div class="row">
	<div class="col-sm-6 col-sm-offset-3 box outer-box">
		<div class="headline">Projects Overview</div>
		<div class="all-content" >
			<div class="item kabashd">
				<span class="title"><%= link_to "Ka-Bash'd",  "https://github.com/arianekrumel/kabashd", :target => "_blank" %></span>
				<p class="item-copy">A Natural Language Game Framework<p>
			</div>

			<div class="item bazaar">
				<span class="title"><%= link_to "Bazaar", "https://github.com/SydneyHodge/Bazaar", :target => "_blank" %> </span>
				<p class="item-copy">The College Marketplace<p>
			</div>

			<div class="item dropbox">
				<span class="title"><%= link_to "DropBox Hack Week", "https://github.com/cnavrides/dropbox", :target => "_blank" %> </span>
				<p class="item-copy">Interactive presentations for both presenter(s) and presentee(s)<p>
			</div>

			<div class="item givebackhack">
				<span class="title"><%= link_to "What's Happening?", "https://github.com/User1m/whatshappening", :target => "_blank" %></span>
				<p class="item-copy">SMS-based service to see what's happening in Columbus, Ohio<p>
			</div>
		</div>
	</div>
</div>
