<div class="row">
	<div class="col-sm-6 col-sm-offset-3 box" id="projects-outer-box">
		<div id="headline">Project Overview</div>
		<div id="all-projects" >
			<div class="project">
				<span class="title">Ka-Bash'd</span>
				<p class="project-copy">A Natural Language Game Framework<p>
			</div>

			<div class="project">
				<span class="title">Bazaar | Buckets</span>
				<p class="project-copy">The College Marketplace<p>
			</div>

			<div class="project">
				<span class="title">DropBox HackWeek</span>
				<p class="project-copy">Interactive presentations for both presenter(s) and presentee(s)<p>
			</div>

			<div class="project">
				<span class="title">What's Happening?</span>
				<p class="project-copy">SMS-based service to see what's happening in Columbus, Ohio<p>
			</div>
		</div>
	</div>
</div>
