<div class="all-content">
	<div class="even">
	</div> 

	<div class="odd">
	</div> 

	<div class="even">
	</div> 

	<div class="odd">
	</div> 

	<div class="even">
	</div> 

	<div class="odd">
	</div> 
</div>