<div class="row">
	<div class="col-sm-6 col-sm-offset-3 box outer-box">
		<div class="headline">Projects Overview</div>
		<div class="all-content" >
			<div class="item kabashd">
				<span class="title">Ka-Bash'd</span>
				<p class="item-copy">A Natural Language Game Framework<p>
			</div>

			<div class="item bazaar">
				<span class="title">Bazaar | Buckets</span>
				<p class="item-copy">The College Marketplace<p>
			</div>

			<div class="item dropbox">
				<span class="title">DropBox Hack Week</span>
				<p class="item-copy">Interactive presentations for both presenter(s) and presentee(s)<p>
			</div>

			<div class="item givebackhack">
				<span class="title">What's Happening?</span>
				<p class="item-copy">SMS-based service to see what's happening in Columbus, Ohio<p>
			</div>
		</div>

		<div class="hidden-responses" id="specific-project">
			<div class="kabashd">
				<div class="headline">Ka-Bash'd</div>
				<p class="project-copy">A Natural Language Game Framework<p>

				<div class="project-info">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</div>
			</div>

			<div class="bazaar">
				<div class="headline">Bazaar | Buckets</div>
				<p class="project-copy">The College Marketplace<p>

				<div class="project-info">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</div>
			</div>

			<div class="dropbox">
				<div class="headline">DropBox Hack Week</div>
				<p class="project-copy">Interactive presentations for both presenter(s) and presentee(s)<p>

				<div class="project-info">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</div>
			</div>

			<div class="givebackhack">
				<div class="headline">What's Happening?</div>
				<p class="project-copy">SMS-based service to see what's happening in Columbus, Ohio<p>

				<div class="project-info">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</div>
			</div>

			<input class="btn btn-default" id="project-back" type="button" value="Back to Project Overview">
		</div>
	</div>
</div>
