<div class="row">
	<div class="col-sm-8 col-sm-offset-2 box outer-box">
		<div class="all-content" >
			<div class="item">
				<ul class="item-copy">
					<span class="title">Microsoft</span><span class="right-float">Redmond, Washington</span>
					<li class="italics">Explorer Intern</li>
					<li> Windows User Experience: Cloud Experience </li> 
					<li> Created 2 automated tests and 2 manual tests for a Windows’ application in a 3-week time period </li>
					<li> Coded an application which will be used as a proof of concept for future Windows User Experience ideas </li>
				</ul>
			</div>

			<div class="item">
				<ul class="item-copy">
					<span class="title">Google</span><span class="right-float">Mountain View, California</span>
					<li class="italics">Engineering Practicum Intern</li>
					<li> AdWords: Advertiser Analytics </li>
					<li> Sliced latency metrics by country/region on AdWords Platform Experiment (APEX) </li>
					<li> Implemented server/client communication and created a client visualization tool for new credit feature </li>
					<li> Designed and implemented a new selection feature for experiments on APEX </li>
				</ul>
			</div>

			<div class="item">
				<ul class="item-copy">
					<span class="title">Google</span><span class="right-float">New York, New York</span>
					<li class="italics">Software Developer Intern</li>
					<li> Software Engineer in Test on the Advertising Mobile (AdMob) team </li>
					<li> Improved user flow for adding golden images to databases </li>
					<li> Wrote design documents which provided a detailed analysis of implementation and design of features </li>
					<li> Developed a way to screenshot, display, and save ads from within an Android application </li>
					<li> Delivered a mechanism for recording videos of ads from within an Android application </li>
				</ul>
			</div>

			<div class="item">
				<ul class="item-copy">
					<span class="title">Google</span><span class="right-float">New York, New York</span>
					<li class="italics">Software Developer in Tools and Infrastructure</li>
					<li> I begin fulltime employment at Googe in August 2016.</li>
				</ul>
			</div>
		</div>
	</div>
</div>