<div id="row-1">
	<div class="col-1">
	</div>
	<div class="col-2">
	</div>
	<div class="col-3">
	</div>
</div>

<div id="row-2">
	<div class="col-1">
	</div>
	<div class="col-2">
		<div class="content">
			<span class="delay" id="normal-delay"> coming </span> <span class="delay" id="long-delay">&nbsp;soon</span>
			<span class="delay" id="xlong-delay">.</span>
			<span class="delay" id="xxlong-delay">.</span>
			<span class="delay" id="xxxlong-delay">.</span>
		</div>
	</div>
	<div class="col-3">
	</div>
</div>

<div id="row-3">
	<div class="col-1">
	</div>
	<div class="col-2" id="copyright">
		<p> &copy; 2016 Sydney Hodge </p>
	</div>
	<div class="col-3">
	</div>
</div>
