@import "bootstrap";
@import "bootstrap-sprockets";
@import "compass";
@import "welcome";

$white: #FFFFFF;
$off_black: #333333;
$silver: #F0F1F5;

html, body {
	height: 100%;
}

body {
	background-color: $off_black;
	color: $white;
	font-family:'helvetica';
	position: relative;
}

::selection {
	background-color: $silver;
	color: $white;
}

::-moz-selection { 
	background-color: $silver;
	color: $white;
}

#wrapper{
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-flexbox;
	display: -webkit-flex;
	display:         flex;

	@include flex-direction(column);
	min-height: 100vh;
	position: relative;

	overflow-x: hidden;
}
