@import "bootstrap";
@import "bootstrap-sprockets";
@import "compass";
@import "welcome";

$white: #FFFFFF;
$off_black: #333333;
$silver: #F0F1F5;

html, body {
	height: 100%;
}

body {

background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	color: $white;
	font-family:'helvetica';
	position: relative;
}

::selection {
	background-color: $silver;
	color: $white;
}

::-moz-selection { 
	background-color: $silver;
	color: $white;
}

#wrapper{
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-flexbox;
	display: -webkit-flex;
	display:         flex;

	@include flex-direction(column);
	min-height: 100vh;
	position: relative;

	overflow-x: hidden;
}
