$gray: #666666;
$gray_black: #424242;
$light_gray: #CECDCC;
$off_black: #333333;
$off_white: #FAFAFA;

#left-content, #right-content {
	display: -webkit-box;
	display:    -moz-box;
	display:     -ms-flexbox;
	display: -webkit-flex;
	display:         flex;

	justify-content: center;
	@include flex-direction(column);

	text-align: center;

	p {
		padding: 10px;
	}
}

#left-content {
	flex: 1;
	color: $gray_black;

	.name {
		font-family: 'Amatic SC' , 'cursive';
		font-size: 70px;
		text-decoration: overline;
	}

	.menu-item {
		display: inline-block;
		font-weight: 100;
		font-size: 18px;
	    cursor: pointer;
	}

	.menu-item:hover, .menu-item-hover {
		color: $light_gray;
	}

	.menu-info {
		display: -webkit-box;
		display:    -moz-box;
		display:     -ms-flexbox;
		display: -webkit-flex;
		display:         flex;

		align-self: center;
		@include flex-direction(column);

		width: 33%;
		margin-top: 35px;

		hr {
			width: 100%;
			background-color: $gray_black;
			height: 5px;
			margin: 0;
		}

		p {
			padding: 10px 0 0 0;
		}

	}

	#left-responses {
		display: none;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: inherit;

		p {
			font-size: 10px;
		}
	}
}

#right-content {
	flex: 1;
	background-color: $off_black;
	overflow-y: scroll;
	overflow-x: hidden;

	p {
		font-size: 13px;
	}

	.content, .contact-info, .contact-info .row, #contact-inner-box, .social-info, 
	.projects-info, .projects-info .row, #projects-outer-box, #all-projects, .about-info, .music-info {
		display: -webkit-box;
		display:    -moz-box;
		display:     -ms-flexbox;
		display: -webkit-flex;
		display:         flex;

		justify-content: center;
		@include flex-direction(column);
	}

	.content, .contact-info, .contact-info .row, .projects-info, .projects-info .row,
	.about-info {
	    min-width: 100%;
	    min-height: 100vh;
	}

	.social-info {
		@include flex-direction(row);

		#color-images {
			display: none;
		}
	}

	.self-content {
		margin-bottom: 20px;
	}

	.img-content {
		max-height: 400px;
		max-width: 400px;
	}

	.about-info {
		margin-top: 20px;

		p {
			padding: 10px 50px 0 50px;
		}

		.about-copy {
			margin-top: 10px;
		}
	}

	#music {
		margin-right: 20px;
		overflow-y: scroll;
		overflow-x: hidden;

		.row {
			margin: 20px;
		}

		hr {
			width: 100%;
			background-color: $off_white;
			height: 1px;
			margin: 5px;
		}
	}

	.box {
		background-color: $off_white;
		color: $off_black;
		border-radius: 2px;
		font-family: 'Raleway', sans-serif;
	}

	.outer-box {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 70vh;
	}

	.headline {
		height: 10%;
		font-size: 25px;
		margin: 20px 0;
		font-weight: bold;
	}

	.all-content {
		justify-content: space-around;
		flex-grow: 1;
	}

	.work-exp-info {
		.outer-box {
			height: auto;
		}

		.box {
			background-color: $off_black;
		}

		.item-copy {
			list-style-type: none;
			font-size: 12px;
			padding: 10px;
			background-color: $off_white;
			text-align: left;
			border-radius: 3px; 
			margin-top: 5px;

			.title {
				font-size: 18px;
			}

			.right-float {
				float: right;
			}

			.italics {
				font-style: italic;
			}
		}

		.headline {
			margin: 20px 0 -10px;
		}
	}

	.projects-info {
		.title {
			text-decoration: overline;
		}

		.hidden-responses, #specific-project .kabashd, #specific-project .dropbox,
		#specific-project .bazaar, #specific-project .givebackhack, #project-back {
			display: none;
		}

		.item-copy {
			margin-top: -10px;
		}
	}

	.contact-info {
		#contact-inner-box {
			height: 30vh;
			font-weight: bold;

			.email:link, .email:active, .email:hover, .email:visited {
				text-decoration: none;
				color: $gray_black;
			}

			.email:hover {
				color: $light_gray;
			}
		}
	}

	#right-responses {
		display: none;
	}
}
